*{
    margin: 0;
    transition-duration: 0.5s;
}

@font-face {
    font-family: Raleway;
    src: url(../css/fonts/Raleway-VariableFont_wght.ttf);
}

header{
    padding: 0.5em;
    font-family: 'Raleway','Courier New', Courier, monospace;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    
}

.left-header-container{
    display: flex;
    align-items: 0px;
}

.right-header-container{
    display: flex;
    align-items: center;

}


header a{
    margin: 1%;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: red;
    text-decoration: double;
}

header a img{
    margin-right: 1%;
    padding: 5px;
}
.right-header-container{
    justify-content: center;
}
